@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

<!-- Necesario para que se inserten recursos en <head> -->
<HeadOutlet />

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(SGI_INVENTARIO.Components.Layout.MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="@typeof(SGI_INVENTARIO.Components.Layout.MainLayout)">
                        <p role="alert">No estás autorizado para ver esta página.</p>
                    </LayoutView>
                </NotAuthorized>
                <Authorizing>
                    <LayoutView Layout="@typeof(SGI_INVENTARIO.Components.Layout.MainLayout)">
                        <p>Autenticando…</p>
                    </LayoutView>
                </Authorizing>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>

        <NotFound>
            <LayoutView Layout="@typeof(SGI_INVENTARIO.Components.Layout.MainLayout)">
                <p role="alert">La página no existe.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
