@page "/usuarios"
@attribute [Authorize(Policy = "RequireAdmin")]
@inject UserManager<AppUser> UserManager

<h1>Usuarios</h1>

<DataTable>
    <Header>
        <tr>
            <th>Correo</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Estado</th>
        </tr>
    </Header>
    <Body>
        @foreach (var usuario in Usuarios)
        {
            <tr>
                <td>@usuario.Email</td>
                <td>@usuario.Nombres @usuario.Apellidos</td>
                <td>@usuario.Rol</td>
                <td>@(usuario.Estado ? "Activo" : "Inactivo")</td>
            </tr>
        }
    </Body>
</DataTable>

@code {
    private List<AppUser> Usuarios { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Usuarios = await UserManager.Users.ToListAsync();
    }
}
